body{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: rgb(138, 138, 135);
}

.fundo{
    border: 0px #009ED0 solid;
    background-color: #009ED0;
    width: 320px;
    height: 205px;
    justify-content: center;
    display: flex;
    align-items: center;
}


.fundo-branco{
    border: none;
    outline: none;
}

.txt{
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    background-color: #D9D9D9;
    width: 296px;
    text-transform: uppercase;
    height: 40px;
    border-radius:0 0 5px 5px; 
    font-size: 30px;
}

.fundo-branco:focus{
    border-radius: none;
   
    
}

.fundo-titulo{
    border: 1px #00789D solid;
    background-color: #00789D;
    width: 300px;
    height: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    text-transform: uppercase;
}

.fundo-titulo2{
    border: 1px #00789D solid;
    background-color: #00789D;
    width: 200px;
    height: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    text-transform: uppercase;
}

.titulo{
    color: white;
}

.espaco{
    margin-top: 10px;
}

.confirma{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding-top: 15px;
}

.interacao{
    text-decoration: none;
    font-size: 30px;
    color: black;
    border: 1px black solid;
    background-color: #D9D9D9;
    border-radius: 15px;
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interacao:hover{
    background-color: #b3afaf;  
}

.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#caixa, #codigo_inteiro, #cantas_receber, #digitar_cpf, #excluir_produto, #excluir_venda, #finalizar_compra, #forma_pagamento, #imprimir_nota, #inserir_quantidade, #nova_venda, #pesquisar_preco, #pesquisar_produto, #pesquisar_venda, #sair_compra, #tela_login, #tela_caixa {
    display: none;
}